[Desktop Entry]
Name=SuperCollider IDE
GenericName=SuperCollider IDE
Path=/home/pi/supercolliderStandaloneRPI2/
Exec=/home/pi/supercolliderStandaloneRPI2/run.sh
Icon=/home/pi/supercolliderStandaloneRPI2/share/system/sc_ide_32.png
Type=Application
Terminal=false
Categories=Application;Development;
StartupNotify=false
